body {
    background-color:white;
}

#title {
    font-family: Brush Script MT;
    color: #B1793D;

    font-size: 500%;
    text-align: center;
    border-bottom: 10px double #49547D;
    margin: 0px;
    padding-bottom: 10px

}
p {
    font-family: sans-serif;
}